.posts {
    background-image: url("../../img/aewr-big.png");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.posts-title {
    color: antiquewhite;
    background-color: black;
}

.posts .bg-light {
    background-color: transparent !important;
}

