.greeting {
    background: linear-gradient(45deg, red, blue);
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: antiquewhite;
}

.social-container {
    background: transparent;
    padding: 25px 50px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.youtube {
    color: #eb3223;
}

a.tiktok {
    color: black;
}

a.twitter {
    color: #49a1eb;
}

a.instagram {
    color: #e1306c;
}

.email {
    color: antiquewhite;
}

.tweets {
    color: antiquewhite;
    background-color: black;
}